<header class="header">
  <h1 class="site-name display-none">{{@blog.title}}</h1>
  <div class="page-description display-none">
    {{@blog.description}}
  </div>
  <a class="avatar" href="{{@blog.url}}">
    <img width="120" height="120" alt="{{@blog.title}}" src="{{@blog.logo}}" />
  </a>
  <hr class="header-line" noshade/>
</header>
