<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600%7CRoboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}" />
    {{ghost_head}}
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-104840979-1', 'auto');
       ga('send', 'pageview');
    </script>
   </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <body>
  <script>
    $(document).ready(function() {
      if(window.location.pathname == "/"){
        $('.navigation').removeClass('display-none');
        $('.site-name').removeClass('display-none');
        $('.page-description').removeClass('display-none');
      }
    })
  </script>
    <p></p>


    {{> header }}
    {{ navigation }}

    <div class="site site--home">
       <div class="site__content">
          <div class="site">
             <div class="essays essays--home">
                {{{body}}}
             </div>
             <div id="fb-root"></div>
             <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
             </script>
             <!--<div class="fb-page" data-href="https://www.facebook.com/quancam.blog" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">-->
                <!--<blockquote cite="https://www.facebook.com/quancam.blog" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/quancam.blog">Quần Cam</a></blockquote>-->
             <!--</div>-->
             <hr class="posts-line" noshade/>
          </div>
       </div>
      <div class="fb-page fb_iframe_widget">
        <span>
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCuli-k%C3%AD-s%E1%BB%B1-187202278834836&tabs=timeline&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </span>
      </div>
    </div>
    {{> footer }}
    <script src="assets/js/main.js"></script>
    {{> google-analytics}}
  </body>
   <!-- Mirrored from quan-cam.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Sep 2018 07:54:33 GMT -->
</html>
